html { }
body {
}

#index{
	width: 100%;
	height: 100%;
}

#container{
	width: 100%;
	height: 100%;
	#background-color: #aad3df;
}


.flex_col{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

#map { 
    width: 100%;
    height: 100%;
}


#stats_menu { 
    flex: 0 0 auto;
    z-index: 10;
}

@media (min-width: 768px) {
    .stat{
        position: absolute !important; 
        z-index: 401;
        background-color: white;
        border-radius: 10px;
        margin: 10px;
        max-height: calc(100vh - 40px);
        overflow: hidden;
        box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    }

    #last_menu{
        left: 0px;
    }

    #stats_menu{
        right: 0px
    }

    #map{
	width: 100vw;
        height: 100vh;
        position: fixed;
        padding: 0px;
        margin: 0px;
        left: 0px;
    }
    
    .leaflet-left .leaflet-control {
        margin-left: 350px;
    }

    .leaflet-control-layers {
	    margin-right: 200px;
    }
}
#stats_menu .stat { width: 300px; margin: 0 1%; display: block; float: left;}
#stats_menu #statproto { width: 200px;}
#stats_menu #statstat { width: 200px;}

#lastips{
	list-style-type: none;
	padding-left: 10px;

}
